<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ role }} Dashboard</title>
</head>
<body>
    <h2>Welcome, {{ role }}!</h2>
    <h3>Your Queries:</h3>
    <form method="post" action="#">
        {% for i in queries %}
            <button type="submit" formaction="{{url_for(i)}}">{{ i }}</button>
        {% endfor %}
    </form>
</body>
</html>


